:root{
    --encabezado:#91D8F7;
    --enlace:rgb(255, 102, 0);
}

*  {
    box-sizing: border-box;
}

#logo{
    width: 900%;
}

.container-fluid{
    width: 40%;
}

#menu{
    background-color:var(--encabezado) !important;
}

.nav-link{
    color: var(--enlace);
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link:hover{
    color:rgb(255, 255, 255);
}
