:root{
    --encabezado:#91D8F7;
    --enlace:rgb(255, 102, 0);
}

#logo{
    width: 40%;
}

#menu{
    background-color:var(--encabezado) !important;
}

.nav-link{
    color: var(--enlace);
    font-weight: bold;
    font-size: 1.5rem;
}

.nav-link:hover{
    color:rgb(255, 255, 255);
}

.alto-img{
    height: 500px !important;
    padding-top: 55px !important;
}

.nav-link.active{
    color: #0000ff !important;
    font-weight: bold !important;
}

/* servicios */
#servicios{
    background-color: var(--encabezado);
}

#servicios .titulo{
    width: 100%;
    text-align: center;
    color: var(--enlace);
    font-weight: bold;
}